{% extends "base.html" %}
{% load blog_tags %}
{% block content %}
 <main>
    {% for blog in blog_list_archive %}
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'detail' id=blog.id %}" target="_blank">{{blog.title}}</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="/static/image/terry.jpg" alt=""></a></span>
      <p class="blogtext">{% get_blog_summary blog.id %}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">terry</a></li>
          {% for tag in blog.tags.all %}
          <li class="lmname"><a href="#">{{tag.tag_name|title}}</a></li>
          {% endfor %}
          <li class="timer">{{ blog.date_time|date:'Y M d'}}</li>
          <li class="view"><span>{{blog.views}}</span> views counter</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </main>
  {% endblock %}
