{% extends "base.html" %}
{% block content %} 
{% load comments %}
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
<link href="/static/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet" type="text/css" />
<link href="/static/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
<link href="/static/syntaxhighlighter/github-markdown.css" rel="stylesheet" type="text/css" />
<link href="/static/syntaxhighlighter/github.css" rel="stylesheet" type="text/css" />
<style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 25px;
    }
    @media (max-width: 767px){
        .markdown-body {
            padding: 15px;
        }
    }
</style>
<main>
  <div class="infosbox">
    <div class="newsview">
        <h3 class="news_title">{{blog.title}}</h3>
     <div class="bloginfo">
        <ul>
          <li class="author">author: <a href="/">terry</a></li>
          <li class="timer">time:{{blog.date_time| date:'Y M d'}}</li>
          <li class="view"></li>
        </ul>
      </div>
      {% for tag in blog.tags.all %}
      <div class="tags"><a href="#" target="_blank">{{tag.tag_name}}</a> &nbsp;&nbsp;
      {% endfor %}
      </div>

      <div class="news_con markdown-body">
      <p>
      {{blog_content|safe}}
      </p>
      </div>
    </div>
    <div class="nextinfo">
        {% if previous %}
        <p><a href="{% url 'detail' id=previous %}">previous</a></p>
        {% endif %}
        {% if next %}
        <p><a href="{% url 'detail' id=next %}">next</a></p>
        {% endif %}
    </div>
<!--
    <div class="news_pl">
      <h2>comment</h2>
	<ul>
        <div class="gbko"> </div>
		{% get_comment_list for blog as comment_list %}
		{% for comment in comment_list %}
		<li>
		{{ comment.submit_date }}<br/>
		{{comment.comment}}<br/>
		</li>
		{% endfor %}
      </ul>

    </div>
	<h3>leave a comment</h3>
	<form action="/blog/sub_comment/" class="pure-form pure-form-stacked" method="post">
	<textarea name="comment_content"></textarea>
	<input type="hidden" name="blog_id" value={{blog.id}}>
	<input type="submit" class="pure-button" value="ok">
	</form>
-->
<script type="text/javascript">SyntaxHighlighter.all();</script>
  </div>
  </main>
  {% endblock %}
