{% extends "base.html" %}
{% block content %}
<div class = "posts">
	{% for blog in blog_list  %}
	<section class="post">
		<h1 class="content-subhead">POST</h1>
		<header class="post-header">
			<h2 class= "post-title"><a href="{% url 'detail' id=blog.id %}">{{blog.title}}</a><h2>
                    <img class="post-avatar" alt="bog_pic" height="148" width="148" src={{blog.blog_pic}}>
				<p class = "post-meta cotent-subead">
					Time: <a class="post-author"href="#">{{blog.date_time | date:'Y M d'}}</a>&nbsp
					Tag:
					{% for tag in blog.tags.all %}
					<a class="post-category" href="#">{{tag.tag_name|title}}</a>
					{% endfor %}
					<a  href="{% url 'update' id=blog.id %}">edit</a>
					<a  href="{% url 'delete' id=blog.id %}">|delete</a>
                    Count:
                    <a  href="{% url 'detail' blog.id %}">{{blog.views}}</a>

				</p>
		</header>

			<div class="post-description">
				<p>
					{{blog.content|safe|truncatechars:"50"}}
				</p>
			</div>
            <div class="post-continue">
				<p>
				<a class="button-read" href={% url 'detail' id=blog.id %}>Continue Read...</a>
				</p>
            </div>
	</section>
	{% endfor %}
    
	{% if blog_list  and current_page.paginator.num_pages > 1 %}
	<div class="pagination">
		{% if current_page.has_previous %}
        <a href="?page={{current_page.previous_page_number }}"><i class="fa fa-chevron-circle-left"></i></a>
		{% endif %}
        <a>{{current_page.number}} of {{current_page.paginator.num_pages}}</a>
		{% if current_page.has_next %}
        <a href="?page={{current_page.next_page_number }}"><i class="fa fa-chevron-circle-right"></i></a>
		{% endif %}
		
	</div>
	{% endif %}
   
{% endblock %}
