{% extends "base.html" %}
{% load blog_tags %}
<article> 
  <!--banner begin-->
  {% block content %}
  <div class="banner">
    <div id="banner" class="fader">
      <li class="slide" ><a href="/" target="_blank"><img src="/static/images/p1.jpg"><span class="imginfo">big_pic</span></a></li>
      <li class="slide" ><a href="/" target="_blank"><img src="/static/images/p2.jpg"><span class="imginfo">small_pic1</span></a></li>
      <li class="slide" ><a href="/" target="_blank"><img src="/static/images/p3.jpg"><span class="imginfo">small_pic2</span></a></li>
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
    <li> <a href="/" target="_blank"> <i><img src="/static/images/p1.jpg"></i>
      <h2>life</h2>
      <span>生活感悟</span> </a> </li>
    <li> <a href="/" target="_blank"> <i><img src="/static/images/p2.jpg"></i>
      <h2>study</h2>
      <span>工作学习</span> </a> </li>
  </div>
  <main>
  
  <div class="blogtab">
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      {% for blog in blog_list_index %}
      <h3 class="blogtitle"><a href="{% url 'detail' id=blog.id %}" target="_blank">{{blog.title}}</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="{{blog.blog_pic}}" alt=""></a></span>
      <p class="blogtext">{% get_blog_summary blog.id %}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="#">terry</a></li>
          {% for tag in blog.tags.all %}
          <li class="lmname"><a href="#">{{tag.tag_name|title}}</a></li>
          {% endfor %}
          <li class="timer">{{blog.date_time|date:'Y M d'}}</li>
          <li class="view"><span>{{blog.views}}</span>  view count</li>
        </ul>
      </div>
      {% endfor %}
    </div>
</div>
  </main>
  {% endblock %}
