{% extends "base.html" %}
{% block content %}
<!--link href="/static/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet" type="text/css" /-->
<!--link href="/static/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" /-->
<script type="text/javascript" charset="utf8" src="/static/kindeditor/kindeditor.js"></script>	
<script type="text/javascript" charset="utf8" src="/static/kindeditor/lang/zh_CN.js"></script>	
<script type="text/javascript" charset="utf8" src="/static/kindeditor/plugins/code/prettify.js"></script>	
<!--script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script-->
<!--script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script-->
<script>
	var editor;
	KindEditor.ready(function(K){
		editor = K.create('textarea[name="content"]',{
			uploadJson: '/blog/uploadImg/',
			cssPath: '/static/kindeditor/plugins/code/prettify.css',
			items: [  
                'source','|','code', 'fontname', 'fontsize', 'formatblock','|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',  
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 
                'insertunorderedlist', '|',  'emoticons', 'image', 'link']  
		});
	SyntaxHighlighter.all();
	
	});
</script>
<div class = "posts">
	<section class="post">
		<form action={% url 'blog_add' %} class="pure-form pure-form-stacked" method="post">
		<label>title</label>
		<input class="pure-input-1-4" name="title" type="text">
		<label>tags</label>
		<input class="pure-input-1-4" name="tags" type="text">
		<label>blog_pic</label>
		<input class="pure-input-2-3" name="blog_pic" type="text">
		<label>content</label>
        <textarea style="width:700px;height:400px;"  name='content'></textarea>
		<script type="text/javascript">SyntaxHighlighter.all();</script>
		<button class="pure-button" type="submit">Submit</button>
		</form>
	</section>
{% endblock %}
