{% extends "base.html" %}
{% load highlight %}
{% block content %}
{% if query %}
 <main>
    {% for result in page.object_list %}
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{% url 'detail' id=result.object.id %}" target="_blank">{% highlight result.object.title with query %}</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="{{blog.blog_pic}}" alt=""></a></span>
      <p class="blogtext">{{result.object.content|safe|truncatechars:"50"}}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">terry</a></li>
          {% for tag in result.object.tags.all %}
          <li class="lmname"><a href="#">{{tag.tag_name|title}}</a></li>
          {% endfor %}
          <li class="timer">{{ result.object.date_time|date:'Y M d'}}</li>
          <li class="view"><span>{{result.object.views}}</span> views counter</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </main>
  {% endif %}
  {% endblock %}
